<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Tesla KNX Project</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <button onclick="getHouseTemp()">Get House Temperature</button>
    <button>Get Car Temperature</button>
  </div>
</div>

</body>
</html>
